// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #ffc200;
$secondary: #313d48;
$accent: #3b6fd6;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #16ca5e;
$negative: #ffb800;
$info: #16ca5e;
$warning: #ffb800;

$text-black: #151515;
$text-gray: #5e5e5e;
$text-light-gray: #b2b2b2;
